$bp-small: 600px;
$bp-medium: 902px;
$bp-large: 1200px;

:root{
    --color-primary: #303f9f;
    --color-secondary: #c5cae9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}


